extends ./master.jade

block css
 | /css/auth.css
 | /css/forgot.css

block content
  #top
    img#logo(src='/img/logo.svg')
    span#url MESH
  span#subtitle RECOVER PASSWORD
  form#fields(method='post')
    input#email.input(name='email')
    label#uname.label YOUR EMAIL ADDRESS
    #btn
      button SUBMIT
  #register
    | Remembered your password?&nbsp;
    u
      a(href='/user/login') Log In
  if error != ''
    script(type='text/javascript').
      document.body.onload = function() {
          document.body.setAttribute("class", "bad");
      }
    span#err #{error}