extends ./master.jade

block css
 | /css/auth.css

block content
  #top
    img#logo(src='/img/logo.svg')
    span#url MESH
  span#subtitle LOG IN
  form#fields(method='post')
    input#email.input(name='email')
    label#uname.label YOUR EMAIL ADDRESS
    input#password.input(type='password', name='password')
    label#pass.label PASSWORD
    #btn
      button SUBMIT
  #register
    | Don't have an account?&nbsp;
    u
      a(href='/user/signup') Make one here!
  if error != ''
    script(type='text/javascript').
      document.body.onload = function() {
          document.body.setAttribute("class", "bad");
      }
    span#err #{error}