extends layout.jade

block scripts
 | https://code.jquery.com/jquery-2.1.1.min.js
 | /js/lib/jquery.nouislider.all.min.js
 | /js/lib/fancyInput.js
 | /js/lib/jquery.sidr.js
 | /js/lib/tinyColor.js
 | /js/lib/please.js
 | /js/lib/color-thief.js
 | /js/lib/jquery.sortable.min.js
 | /js/lib/jquery.throttle.min.js
 | /js/lib/jquery.slimscroll.min.js
 | /js/newStation.js dynamic
 | /js/player.js dynamic

block css
 | /css/player.css dynamic
 | /css/station.css dynamic

block content
  #player
    style#pauseStyle
    +icon('logo', '../logo')
    #background
    +icon('stations', 'stations', 'noclick')
    +icon('songs', 'history', 'noclick')
    #sag
      span#sagText
    #controls
      #progress
      a(target='_blank', onclick='this.src = music().audio.src; $(this).click().removeAttr(\'src\');')
      +icon('back', 'skipBack', 'back();')
      +icon('dislike', 'brokenHeart', 'feedback("dislike");')
      +icon('undislike', 'brokenHeartFilled', 'feedback("undislike");').hidden
      +icon('next', 'skip', 'next();')
      +icon('like', 'heart', 'feedback("like");')
      +icon('unlike', 'heartFilled', 'feedback("unlike");').hidden
      +icon('play', 'play', 'play();')
      +icon('pause', 'pause', 'pause();').hidden
    audio#audio(src='')
    #noalbum
      +icon('centerpiece', '../logo')
    #album
    //  +icon('download', 'download')
    //a#feedbackIcon.wheel-button.ne
    //+icon('feedbackBtn', 'heart', 'noclick')
    //
      ul#feedback.wheel(data-angle='NE')
        li.item
          +icon('like', 'heart')
        li.item
          +icon('dislike', 'brokenHeart')
    #stat
      .container
        .add.station(onclick='showStation();', data-id='-1')
          div
      #scUp
      #scDown
    #song
      .container
        .next.song
          div(onclick='if (!locked) mesh();')
          span
            span
    input#search
  #stationAdder
    #minus.clickable
    #prompt WHAT MUSIC DO YOU WANT TO HEAR?
    #clip
      #container(style="margin-top: -1em")
    section#answer
      span#cancel &#10005;
      .fancyInput
        input(type='text')
  #bubble
  #loading
    object#loadLogo(type='image/svg+xml', data='/img/logo.svg')
    #centerText Alex Hulbert
    #meshText MESH
    #leftText
      span.cap  Design Concepts
      br
      span.name Sergey Safonov
    #rightText
      span.cap  Powered By
      br
      span.name The Echonest
