extends ./master.jade

block scripts
 | https://code.jquery.com/jquery-2.1.1.min.js
 | /js/lib/jquery.nouislider.all.min.js
 | /js/lib/color-thief.js
 | /js/lib/jquery.throttle.min.js
 | /js/lib/jquery.slimscroll.min.js
 | /js/lib/jquery.autocomplete.min.js
 | /js/lib/jquery.sidr.js
 | /js/lib/mousetrap.min.js
 | /js/lib/huejs.js
 | /js/lib/nlform.js
 | /js/lib/fancyInput.js
 | /js/lib/tinyColor.js
 | /js/lib/randomColor.js
 | /js/lib/cookies.js
 | /js/lib/vex.combined.min.js
 | /js/searchView.js dynamic
 | /js/filters.js dynamic
 | /js/player.js dynamic

block css
 | /css/lib/nlform.css
 | /css/lib/vex.css
 | /css/lib/vex-theme-flat-attack.css
 | /css/player.css dynamic
 | /css/station.css dynamic
 | /css/filters.css dynamic
block content
  #frost.frost
  #nextFrost.frost
  #player
    #progress
    +icon('searchSong', 'search', 'showSearch("song");')
    +icon('filterBtn', 'brain', 'showFilter("station", true);')
    #background
    +icon('stations', 'stations', 'noclick')
    +icon('songs', 'history', 'noclick')
    #sag
      span#sagText
    #controls
      a(target='_blank', onclick='this.src = music().audio.src; $(this).click().removeAttr(\'src\');')
      +icon('back', 'skipBack', 'back();')
      +icon('dislike', 'brokenHeart', 'feedback("like");')
      +icon('next', 'skip', 'next();')
      +icon('like', 'heart', 'feedback("like");')
      +icon('play', 'play', 'play();')
      +icon('pause', 'pause', 'pause();').hidden
    #album.albumPos
    #lockOverlay.albumPos
      +icon('ellipsis', 'ellipsis', 'noclick')
    //+icon('download', 'download')
    #stat
      .station.current.nowPlaying.no-animation
        div
      .container
        .add.station.circular(onclick='showSearch("bootstrap");', data-id='-1', data-bri="10")
      #scUp
      #scDown
    #song
      .container
        .next.song
          div(onclick='if (!locked) mesh();')
          span
            span
  #searchView.view
    .minus.clickable.circular
    #prompt WHAT MUSIC DO YOU WANT TO HEAR?
    #clip
      #container(style='margin-top: -1em')
        .galbum.ggenre(title='Albums')
        .gartist(title='Artists')
        .gsong(title='Songs')
    section#answer
      span#cancel.clickable &#xe600;
      .fancyInput
        input(type='text', autocomplete='off')
  include filters
  #options.view.frosty
    #optClose.minus.clickable.circular(onclick='showOptions(false)')
    h1.header#optTitle Options
    #optList
      .toggle
        input#togWorkaround(type='checkbox')
        label(for='togWorkaround')
        span Direct Streaming
      .optDesc
        | Loads songs faster, but skips features such as song verification and audio normalization
        | (Currently works on a very limited number of web browsers)
      .toggle
        input#togVisual(type='checkbox', checked='checked')
        label(for='togVisual')
        span Audio Visualization
      .optDesc
        | Adds sound-synchronized visual effects.
        | (May cause problems on lower-end computers or outdated browsers)
      .toggle
        input#togStar(type='checkbox')
        label(for='togStar')
        span 5 Star Feedback
      .optDesc
        | Instead of a like and dislike button, you rate your music by giving it between 1 and 5 stars
  #bubble
  #loading
    object#loadLogo(type='image/svg+xml', data='/img/logo.svg')
    #centerText Alex Hulbert
    #meshText MESH
    //
      #leftText
        span.cap  CAPTION1
        br
        span.name DESCRIPTION1
      #rightText
        span.cap  CAPTION2
        br
        span.name DESCRIPTION2
    #version v0.9.2 "Kullita"
    #echonest Built Using The Echonest