extends layout.jade

block scripts
 | https://code.jquery.com/jquery-2.1.1.min.js
 | /js/lib/jquery.nouislider.all.min.js
 | /js/lib/color-thief.js
 | /js/lib/jquery.sortable.min.js
 | /js/lib/jquery.throttle.min.js
 | /js/lib/jquery.slimscroll.min.js
 | /js/lib/jquery.autocomplete.min.js
 | /js/lib/jquery.sidr.js
 | /js/lib/mousetrap.min.js
 | /js/lib/huejs.js
 | /js/lib/nlform.js
 | /js/lib/fancyInput.js
 | /js/lib/tinyColor.js
 | /js/lib/please.js
 | /js/lib/cookies.js
 | /js/lib/vex.combined.min.js
 | /js/searchView.js dynamic
 | /js/filters.js dynamic
 | /js/player.js dynamic

block css
 | /css/lib/nlform.css
 | /css/lib/vex.css
 | /css/lib/vex-theme-flat-attack.css
 | /css/player.css dynamic
 | /css/station.css dynamic
 | /css/filters.css dynamic
block content
  #player
    +icon('searchSong', 'search', 'showSearch("song");')
    +icon('filterBtn', 'brain', 'showFilter("station", true);')
    #background
    +icon('stations', 'stations', 'noclick')
    +icon('songs', 'history', 'noclick')
    #sag
      span#sagText
    #controls
      #progress
      a(target='_blank', onclick='this.src = music().audio.src; $(this).click().removeAttr(\'src\');')
      +icon('back', 'skipBack', 'back();')
      +icon('dislike', 'brokenHeart', 'feedback("like");')
      +icon('next', 'skip', 'next();')
      +icon('like', 'heart', 'feedback("like");')
      +icon('play', 'play', 'play();')
      +icon('pause', 'pause', 'pause();').hidden
    audio#audio(src='')
    #noalbum.albumPos
      +icon('centerpiece', '../logo')
    #album.albumPos
    #lockOverlay.albumPos
      +icon('ellipsis', 'ellipsis', 'noclick')
    //+icon('download', 'download')
    #stat
      .container
        .add.station(onclick='showSearch("bootstrap");', data-id='-1')
          div &#xe602;
      #scUp
      #scDown
    #song
      .container
        .next.song
          div(onclick='if (!locked) mesh();')
          span
            span
  #searchView.view
    .minus.clickable
    #prompt WHAT MUSIC DO YOU WANT TO HEAR?
    #clip
      #container(style="margin-top: -1em")
      #down.arrow.card(onclick="scrollPage(1)", style="display: none") &#9660;
      #up.arrow.card(onclick="scrollPage(0)", style="display: none")   &#9650;
    section#answer
      span#cancel.clickable &#xe600;
      .fancyInput
        input(type='text')
  include filters
  #bubble
  #loading
    object#loadLogo(type='image/svg+xml', data='/img/logo.svg')
    #centerText Alex Hulbert
    #meshText MESH
    #leftText
      span.cap  Initial Concepts
      br
      span.name Sergey Safonov
    #rightText
      span.cap  Built Using
      br
      span.name The Echonest
    #version v0.8.1 "Apollo"