extends ./layout.jade

block css
 | /css/auth.css
 | /css/signup.css

block content
  #override
    #top
      img#logo(src='/img/logo.svg')
      span#url ME.SH
    span#subtitle SIGN UP
    form#fields(method='post', name='signup')
      input#email.input(name='email')
      label#uname.label YOUR EMAIL ADDRESS
      input#password.input(type='password', name='password')
      label#pass.label PASSWORD
      input#confirm.input(type='password', name='confirm')
      label#conf.label CONFIRM PASSWORD
      input#betakey.input(name='key')
      label#key.label BETA KEY
      #btn
        button(onclick='submit();') SUBMIT
    if error != ''
      script(type='text/javascript').
        document.body.onload = function() {
            document.body.setAttribute("class", "bad");
        }
      span#err #{error}