extends master.jade

block content
  style
   | body {
   |     background-color: #D8D8D8;
   |     font-family: geometria;
   | }
   | h2,h1 {
   |     text-align: center;
   | }
  h1(style="font-size: 10vh; color: #333; font-weight: 900; margin-top: 15vh;") #{message}
  h2(style="font-size: 05vh; color: #444; font-weight: 100; margin-top: 00vh;") #{subtitle}