@import('utils')
body
  background-color #EEE
  font-family 'Geometria', 'Josefin Sans', 'Novecento Sans'
  font-weight 600
#top
  pos(50, 8, middle center, auto, 5vh)
#url
  font-size 6vh
  margin auto 0
  vertical-align bottom
  font-weight 500
#logo
  width 6vh
  height 6vh
#subtitle
  color #A7A7A7
  pos(50, 25, middle center, auto, 5vh)
  font-size 5vh
  line-height 5vh
  vendor(transition, all 500ms)
#err
  vendor(transition, all 350ms)
  color #EEE
  pos(50, 30, middle center, auto, 3.5vh)
  line-height 3.5vh
  font-size 3.5vh
#fields
  pos(50, 60, middle center, 50vh, 50vh)
  .input
    vendor(box-shadow, inset 0.5vh 0.5vh 0 0 #CACACA)
    border 0.2vh #CACACA solid
    text-align left !important
    vendor(box-sizing, border-box)
    padding 0.5vh 0 0 1.25vh
    font-size 3.25vh
    font-family inherit
    font-weight inherit
    + label
      vendor(transition, color 350ms)
      float left
      font-size 2vh
      color #CACACA
    &:focus + label
        color black
  #email
    pos(50, 15, middle center, 85%, 12.5%)
    + label
      pos(7.5, 6.5, left bottom, auto, 2vh)
  #password
    pos(50, 40, middle center, 85%, 12.5%)
    + label
      pos(7.5, 31.5, left bottom, auto, 2vh)
#btn
  pos(50, 60, middle center, 85%, 15%)
  > *
    border none
    font-family inherit
    font-size 3.5vh
    font-weight 600
    background #D8D8D8
    display inline-block
    text-transform uppercase
    outline none
    vendor(transition, all 350ms)
    vendor(box-sizing, border-box)
    width 100%
    height 100%
    cursor pointer
    vendor(box-shadow, 0 0.3em #A7A7A7)
    &:hover
      margin-top -0.15em
      vendor(box-shadow, 0 0.45em #A7A7A7)
    &:active
      margin-top 0.3em
      background #B8FFB8
      vendor(box-shadow, 0 0 #A7B0A7)
      
body.bad
  #subtitle
    bottom 60%
    color #FF6767 !important
  #err
    color #FF6767 !important