@import('utils')
#override
  #subtitle
    bottom 56%
  #fields
    pos(50, 65, middle center, 42.5vh, 65vh)
    .input
      width 100%
      height 7vh
      position relative
      top auto
      left auto
      right auto
      bottom auto
      margin 0 auto
      + label
        position relative
        display block
        left auto
        bottom auto
        top auto
        margin 2vh 0 1vh 0
        text-align left
        top -12vh
    #btn
      position relative
      margin 3vh auto 0 auto
      height 7vh
      width 100%
      top auto
      bottom auto
#register
  top 92.5%
body.bad
  #override
    #subtitle
      bottom 64%
    #err
      bottom 50%